Source: libgudev
Section: libs
Priority: optional
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Uploaders: Jeremy Bícha <jbicha@ubuntu.com>, Michael Biebl <biebl@debian.org>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-gir,
               dh-sequence-gnome,
               gtk-doc-tools,
               libgirepository1.0-dev (>= 1.31.1),
               libglib2.0-dev (>= 2.38.0),
               libglib2.0-doc,
               libudev-dev (>= 251),
               libumockdev-dev <!nocheck>,
               locales-all <!nocheck>,
               meson (>= 0.53.0),
               pkgconf,
               umockdev <!nocheck>
Standards-Version: 4.7.0
Rules-Requires-Root: no
Vcs-Browser: https://salsa.debian.org/gnome-team/libgudev
Vcs-Git: https://salsa.debian.org/gnome-team/libgudev.git
Homepage: https://wiki.gnome.org/Projects/libgudev

Package: libgudev-1.0-0
Architecture: linux-any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: GObject-based wrapper library for libudev
 This library makes it much simpler to use libudev from programs already using
 GObject. It also makes it possible to easily use libudev from other
 programming languages, such as Javascript, because of GObject introspection
 support.

Package: gir1.2-gudev-1.0
Section: introspection
Architecture: linux-any
Multi-Arch: same
Depends: ${gir:Depends}, ${misc:Depends}
Description: libgudev-1.0 introspection data
 This package contains the GObject-introspection data of libgudev-1.0 in
 binary typelib format.

Package: libgudev-1.0-dev
Section: libdevel
Architecture: linux-any
Multi-Arch: same
Depends: gir1.2-gudev-1.0 (= ${binary:Version}),
         libglib2.0-dev (>= 2.38.0),
         libgudev-1.0-0 (= ${binary:Version}),
         libudev-dev (>= 199),
         pkgconf,
         ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Provides: ${gir:Provides}
Description: libgudev-1.0 development files
 This package contains the files needed for developing applications that
 use libgudev-1.0.
